<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20395060889-4dgkcbeaaihlklf0067luah0gbanj4bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20395060889-4dgkcbeaaihlklf0067luah0gbanj4bf</string>
	<key>API_KEY</key>
	<string>AIzaSyDPCpQFf_mVXVbFUN5Dp_pxAWnBTmTCQrI</string>
	<key>GCM_SENDER_ID</key>
	<string>20395060889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrl.loteriasdehonduras</string>
	<key>PROJECT_ID</key>
	<string>loteriasdehonduras-mrl</string>
	<key>STORAGE_BUCKET</key>
	<string>loteriasdehonduras-mrl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20395060889:ios:6ad891e4fd14aebe0f5208</string>
	<key>DATABASE_URL</key>
	<string>https://loteriasdehonduras-mrl.firebaseio.com</string>
</dict>
</plist>